In [1]:
import graphlab as gl

filepath = '../data/ml-latest-small/ratings.csv'
ratings = gl.SFrame.read_csv(filepath, column_type_hints = {"rating":int})
ratings.head()

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1523404606.log

This non-commercial license of GraphLab Create for academic use is assigned to atschannen@smu.edu and will expire on April 08, 2019.

Finished parsing file /Users/atschannen/Documents/collaborative-filtering/data/ml-latest-small/ratings.csv

Parsing completed. Parsed 100 lines in 0.044491 secs.

Finished parsing file /Users/atschannen/Documents/collaborative-filtering/data/ml-latest-small/ratings.csv

Parsing completed. Parsed 100004 lines in 0.037535 secs.

Columns:
	userId	int
	movieId	int
	rating	int
	timestamp	int

Rows: 10

Data:
+--------+---------+--------+------------+
| userId | movieId | rating | timestamp  |
+--------+---------+--------+------------+
|   1    |    31   |   2    | 1260759144 |
|   1    |   1029  |   3    | 1260759179 |
|   1    |   1061  |   3    | 1260759182 |
|   1    |   1129  |   2    | 1260759185 |
|   1    |   1172  |   4    | 1260759205 |
|   1    |   1263  |   2    | 1260759151 |
|   1    |   1287  |   2    | 1260759187 |
|   1    |   1293  |   2    | 1260759148 |
|   1    |   1339  |   3    | 1260759125 |
|   1    |   1343  |   2    | 1260759131 |
+--------+---------+--------+------------+
[10 rows x 4 columns]

In [2]:
movies = gl.SFrame.read_csv('../data/ml-latest-small/movies.csv')
movies.head()

Finished parsing file /Users/atschannen/Documents/collaborative-filtering/data/ml-latest-small/movies.csv

Parsing completed. Parsed 100 lines in 0.014621 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/atschannen/Documents/collaborative-filtering/data/ml-latest-small/movies.csv

Parsing completed. Parsed 9125 lines in 0.017302 secs.

Columns:
	movieId	int
	title	str
	genres	str

Rows: 10

Data:
+---------+-------------------------------+-------------------------------+
| movieId |             title             |             genres            |
+---------+-------------------------------+-------------------------------+
|    1    |        Toy Story (1995)       | Adventure|Animation|Childr... |
|    2    |         Jumanji (1995)        |   Adventure|Children|Fantasy  |
|    3    |    Grumpier Old Men (1995)    |         Comedy|Romance        |
|    4    |    Waiting to Exhale (1995)   |      Comedy|Drama|Romance     |
|    5    | Father of the Bride Part I... |             Comedy            |
|    6    |          Heat (1995)          |     Action|Crime|Thriller     |
|    7    |         Sabrina (1995)        |         Comedy|Romance        |
|    8    |      Tom and Huck (1995)      |       Adventure|Children      |
|    9    |      Sudden Death (1995)      |             Action            |
|    10   |        GoldenEye (1995)       |   Action|Adventure|Thriller   |
+---------+-------------------------------+-------------------------------+
[10 rows x 3 columns]

In [8]:
data = ratings.join(movies, on = 'movieId', how = 'left')
data.head()
data.show()

Canvas is accessible via web browser at the URL: http://localhost:51460/index.html
Opening Canvas in default web browser.

## Describe the meaning and type of Data

"This dataset (ml-20m) describes 5-star rating and free-text tagging activity from MovieLens, a movie recommendation service. It contains 20000263 ratings and 465564 tag applications across 27278 movies. These data were created by 138493 users between January 09, 1995 and March 31, 2015. This dataset was generated on October 17, 2016.

Users were selected at random for inclusion and IDS have anonumized. All selected users had rated at least 20 movies. No demographic information is included. Each user is represented by an id, and no other information is provided."

The Movie IDs all contain "at least one rating or tag are included in the dataset."

In [34]:
import pandas as pd
movies = gl.SFrame.read_csv('movies.csv')

mn = pd.read_csv('movies.csv')
mns = mn.genres.unique()

Finished parsing file /Users/atschannen/Documents/collaborative-filtering/notebooks/movies.csv

Parsing completed. Parsed 100 lines in 0.040721 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/atschannen/Documents/collaborative-filtering/notebooks/movies.csv

Parsing completed. Parsed 27278 lines in 0.026636 secs.

In [35]:
print mns

['Adventure|Animation|Children|Comedy|Fantasy' 'Adventure|Children|Fantasy'
 'Comedy|Romance' ..., 'Action|Adventure|Animation|Fantasy|Horror'
 'Animation|Children|Comedy|Fantasy|Sci-Fi'
 'Animation|Children|Comedy|Western']

In [48]:
tmp = []
for element in mn:
    tmp.append([e.strip() for e in mn['genres'].split("| ")])
DF_split = pd.DataFrame(tmp)

AttributeError: 'Series' object has no attribute 'split'

In [45]:
print DF_split

                                                    0
0         Adventure|Animation|Children|Comedy|Fantasy
1                          Adventure|Children|Fantasy
2                                      Comedy|Romance
3                                Comedy|Drama|Romance
4                                              Comedy
5                               Action|Crime|Thriller
6                                  Adventure|Children
7                                              Action
8                           Action|Adventure|Thriller
9                                       Comedy|Horror
10                       Adventure|Animation|Children
11                                              Drama
12                           Action|Adventure|Romance
13                                        Crime|Drama
14                                      Drama|Romance
15                 Action|Comedy|Crime|Drama|Thriller
16                              Comedy|Crime|Thriller
17                Crime|Drama|Horror|Mystery|Thriller
18                                       Drama|Sci-Fi
19                                     Children|Drama
20             Adventure|Drama|Fantasy|Mystery|Sci-Fi
21                            Mystery|Sci-Fi|Thriller
22                             Adventure|Romance|IMAX
23                                   Documentary|IMAX
24                                    Children|Comedy
25                                          Drama|War
26                                 Action|Crime|Drama
27                           Action|Adventure|Fantasy
28                              Comedy|Drama|Thriller
29                                   Mystery|Thriller
...                                               ...
1312               Adventure|Fantasy|Mystery|Thriller
1313        Action|Comedy|Crime|Drama|Musical|Romance
1314             Action|Comedy|Crime|Romance|Thriller
1315                  Comedy|Fantasy|Romance|Thriller
1316      Adventure|Animation|Children|Comedy|Mystery
1317          Adventure|Comedy|Crime|Mystery|Thriller
1318  Animation|Children|Comedy|Drama|Fantasy|Musical
1319     Action|Adventure|Comedy|Crime|Drama|Thriller
1320                Animation|Children|Fantasy|Sci-Fi
1321                          Drama|Horror|Sci-Fi|War
1322                        Animation|Children|Sci-Fi
1323                                  Adventure|Crime
1324                 Adventure|Comedy|Mystery|Western
1325                   Action|Children|Fantasy|Sci-Fi
1326                         Action|Documentary|Drama
1327             Adventure|Documentary|Drama|Thriller
1328                   Action|Mystery|Romance|Western
1329          Adventure|Children|Comedy|Drama|Fantasy
1330                          Animation|Comedy|Horror
1331                   Adventure|Comedy|Crime|Fantasy
1332                  Adventure|Crime|Mystery|Romance
1333             Adventure|Children|Documentary|Drama
1334                 Adventure|Children|Drama|Western
1335                           Action|Mystery|Romance
1336   Adventure|Crime|Drama|Fantasy|Mystery|Thriller
1337                  Adventure|Children|Drama|Sci-Fi
1338                       Children|Documentary|Drama
1339        Action|Adventure|Animation|Fantasy|Horror
1340         Animation|Children|Comedy|Fantasy|Sci-Fi
1341                Animation|Children|Comedy|Western

[1342 rows x 1 columns]